
#login{
	width: 100px;
}

.text{
	text-align: center;
	
}

.titles{

}
.infomation{

}

.images{
	display: block;
  margin-left: auto;
  margin-right: auto;

	
}

.processing{
	height: 32px;
	width: 32px;
}